// content
$contentPrimary: #030303;
$contentSecondary: #777777;
$contentTertiary: #dedede;
$contentInversePrimary: #ffffff;

$contentOrange: #F7781B;
$contentRed: #F70121;

$contentBlue: #000080;

// background
$bgPrimary: #F7781B;
$bgSecondary: rgba(20, 33, 65, 0.06);
$bgTertiary: #ffff;
$bgInversePrimary: #131416;

// line

$linePrimary: #f2f2f2;
$lineSecondary: #dedede;
$lineTertiary: #e9eaec;

$lineBlue: #000080;
$lineLight: #ffffff;

// function

$accentPrimary: #13deeb;
$accentSecondary: rgba(19, 222, 235, 0.16);
$linkPrimary: #096dd9;
$scrimPrimary: rgba(27, 27, 27, 0.8);
$AlwaysContentPrimary: #030303;

$negativePrimary: #e94040;
$positivePrimary: #31c375;
$criticalPrimary: #ffad80;
$informativePrimary: #18baff;
$alwaysLine: #dedede;

$alwaysLightPrimary: #ffffff;
$alwaysDarkPrimary: #0a0a0a;
$Brainning: #da2127;
$alwaysTertiary: #777777;
$semiOrange: #fffbef;

$colorBlack: #000;
$colorWhite: #fff;
$bgHeaderLink: rgba(27, 27, 27, 0.8);

$shadow: rgba(0, 0, 0, 0.1);
