.CustomizePos {
    &__box {
        .box {
            &__left {
                &-header {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $contentPrimary;
                }
               
                
            }
            &__right {
                
            }
        }
    }
}
