.CustomizePos {
    &__box {
        .box {
            &__left {
                &-header {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $contentPrimary;
                }
                .PosItem1 {
                    &__box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .box {
                            &__search {
                                width: 100%;
                                .input-group,
                                .form-control {
                                    height: 4rem;
                                    font-size: 1.6rem;
                                    .input-group-prepend {
                                        .input-group-text {
                                            padding: 0 2rem;
                                            i {
                                                font-size: 1.6rem;
                                            }
                                            background-color: transparent;
                                        }
                                    }
                                }
                            }
                            &__qr {
                                margin-left: 8px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
                .CustomTapContent {
                    &__box {
                        .nav {
                            gap: 10px;
                            .nav-link {
                                border: 1px solid $linePrimary;
                                display: block;
                                padding: 1rem 1.25rem;
                                color: $contentOrange;

                                border-radius: 8px;
                                margin-left: 15px;
                            }
                        }
                        .nav-pills .nav-link.active {
                            color: $contentOrange;
                            background-color: rgba(245, 154, 35, 0.403921568627451);
                        }
                        .tab-content {
                            .PosItem2 {
                                &__box {
                                    border-radius: 8px;
                                    overflow: hidden;
                                    box-shadow: 2px 4px 4px $shadow;
                                    .box {
                                        &__image {
                                            width: 100%;
                                            position: relative;
                                            img {
                                                width: 100%;
                                                border-radius: 8px;
                                                max-height: 120px;
                                                object-fit: cover;
                                            }
                                            .btn__plus {
                                                position: absolute;
                                                top: -3px;
                                                right: 2px;
                                                color: $contentInversePrimary;
                                                font-size: 2rem;
                                                background-color: transparent;
                                                border: none;
                                            }
                                            .modal {
                                                .modal-content {
                                                    .modal-header {
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: space-between;
                                                        .modal-title {
                                                            font-size: 1.6rem;
                                                        }
                                                    }
                                                    .modal-body {
                                                        .box {
                                                            display: grid;
                                                            grid-template-columns: repeat(2, 1fr);
                                                            &__image {
                                                                &-left {
                                                                    display: flex;
                                                                    flex-direction: column;
                                                                    gap: 20px;
                                                                    .header {
                                                                        font-weight: 500;
                                                                    }
                                                                    div {
                                                                        display: flex;
                                                                        gap: 10px;
                                                                        span {
                                                                            padding: 6px 16px;
                                                                            display: block;
                                                                            border: 1px solid $contentRed;
                                                                            border-radius: 8px;

                                                                            color: $contentSecondary;
                                                                            font-weight: 600;
                                                                            cursor: pointer;
                                                                        }
                                                                        span:hover {
                                                                            opacity: 0.6;
                                                                        }
                                                                        .active {
                                                                            background: $contentRed;
                                                                            color: $contentInversePrimary;
                                                                        }
                                                                    }
                                                                }
                                                                &-right {
                                                                    display: flex;
                                                                    flex-direction: column;
                                                                    gap: 30px;
                                                                    .header {
                                                                        font-weight: 500;
                                                                    }
                                                                    div {
                                                                        span {
                                                                            color: $contentRed;
                                                                            font-weight: 500;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .modal-footer {
                                                        .btn {
                                                            background-color: $contentRed;
                                                            font-weight: 500;
                                                            font-size: 1.6rem;
                                                            color: $contentInversePrimary;
                                                            border-radius: 200px;
                                                            padding: 6px 16px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        &__body {
                                            width: 100%;
                                            padding: 8px;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;

                                            .name-box,
                                            .price-box {
                                                font-size: 1.4rem;
                                                font-weight: 500;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__right {
                .PosItem3 {
                    &__box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid $linePrimary;
                        padding: 0 8px;
                        .box {
                            &__left {
                                display: flex;
                                align-items: center;
                                position: relative;
                                .text {
                                    color: $contentPrimary;
                                    font-weight: 600;
                                }
                                i {
                                    margin-left: 16px;
                                    color: $contentOrange;
                                    font-size: 2rem;
                                }
                                .quantity {
                                    position: absolute;
                                    top: -10px;
                                    right: -8px;
                                    color: $contentOrange;
                                }
                            }
                            &__right {
                                .btn-group {
                                    display: flex;
                                    .btn-secondary {
                                        flex: 1;
                                        border-color: transparent;
                                        background-color: transparent;
                                        box-shadow: none;
                                        outline: none;
                                    }
                                    button {
                                        color: $contentOrange;
                                        font-size: 1.6rem;
                                        svg path {
                                            fill: $bgPrimary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .PosItem4 {
                    &__box {
                        .box-body-search {
                            .search-result {
                                list-style: none;
                                padding: 8px;
                                .item {
                                    padding: 8px;
                                    font-weight: 500;
                                    color: $contentSecondary;
                                }
                                .item:hover {
                                    background-color: #3333;
                                    cursor: pointer;
                                }
                            }
                        }
                        padding: 8px;
                        background-color: $bgTertiary;
                        box-shadow: 0 2px 4px $shadow;
                        .box {
                            background-color: $bgTertiary;
                            box-shadow: 0 2px 4px $shadow;
                            border-radius: 4px;
                            border: 1px solid $linePrimary;
                            padding: 8px;

                            &-search {
                                display: flex;
                                align-items: center;
                                i {
                                    margin-right: 8px;
                                    font-size: 2rem;
                                }
                                .input-group {
                                    border-bottom: 1px solid $linePrimary;
                                    &-text {
                                        background-color: transparent;
                                        border: none;
                                        i {
                                            font-size: 1.6rem;
                                        }
                                    }
                                    .form-control {
                                        border: none;
                                        font-size: 1.6rem;
                                        box-shadow: none;
                                    }
                                }
                            }

                            &-sale,
                            &-note {
                                padding: 8px 0;
                                .note__body,
                                .sale__body {
                                    .note__body-btn {
                                        background-color: transparent;
                                        width: 100%;
                                        border: none;
                                        box-shadow: none;
                                        outline: none;
                                        display: flex;
                                        align-items: center;
                                        font-size: 1.6rem;
                                        padding: 0 8px;
                                    }
                                    .btn-primary:not(:disabled):not(.disabled):active {
                                        background-color: transparent;
                                        border-color: transparent;
                                    }
                                    display: flex;
                                    align-items: center;
                                    .form-group {
                                        margin-bottom: 0;
                                        width: 100%;
                                    }
                                    i {
                                        font-size: 2rem;
                                        color: $contentOrange;
                                        margin-right: 8px;
                                    }
                                    .text {
                                        color: $contentOrange;
                                    }
                                    .modal {
                                        .modal-content {
                                            .modal-header {
                                                .modal-title {
                                                    font-size: 1.6rem;
                                                }
                                            }
                                            .modal-body {
                                                .form-control {
                                                    font-size: 1.6rem;
                                                }
                                            }
                                            .modal-footer {
                                                .btn {
                                                    font-size: 1.6rem;
                                                    background-color: $contentRed;
                                                    color: $contentInversePrimary;
                                                    padding: 6px 16px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .sale__body {
                                    background-color: $bgTertiary;
                                    box-shadow: 0 2px 4px $shadow;
                                    border-radius: 4px;
                                    border: 1px solid $linePrimary;
                                    padding: 8px;
                                }
                            }
                            &-cart {
                                border: 1px solid $linePrimary;
                                border-radius: 4px;
                                .accordion {
                                    background: $bgTertiary;
                                    border-radius: 12px;
                                    overflow: hidden;
                                    .card {
                                        border: unset;
                                        &:not(:last-child) {
                                            /* Light/content/Tertiary */

                                            border-bottom: 1px solid $contentTertiary;
                                        }
                                    }
                                    .card-header {
                                        overflow: hidden;
                                        background-color: $bgTertiary;
                                        border: unset;
                                        padding: 0;
                                        .btn {
                                            padding: 8px;
                                        }
                                        button {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            width: 100%;
                                            background: none;
                                            img {
                                                width: 20px;
                                                height: 20px;
                                            }
                                            div {
                                                display: flex;
                                                align-items: center;
                                            }
                                            .text {
                                                margin-left: 8px;

                                                font-style: normal;
                                                font-weight: 700;
                                                font-size: 16px;
                                                line-height: 24px;
                                                /* identical to box height, or 150% */

                                                /* Light/content/Primary */

                                                color: $contentOrange;
                                            }
                                            .plus {
                                                display: none;
                                                color: $contentOrange;
                                                font-size: 1.6rem;
                                            }
                                            .minus {
                                                justify-content: center;
                                                display: flex;
                                                align-items: center;
                                                font-size: 1.6rem;
                                                color: $contentOrange;
                                            }
                                            &.collapsed {
                                                .plus {
                                                    justify-content: center;
                                                    display: flex;
                                                    align-items: center;
                                                }
                                                .minus {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    .card-body {
                                    }
                                }
                            }
                            &-detail {
                                .btn-detail {
                                    width: 100%;
                                    box-shadow: none;
                                    padding: 0;
                                    .btn-dropdown {
                                        &__top {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            font-size: 1.6rem;
                                        }
                                        &__bottom {
                                            font-size: 1.6rem;
                                            float: left;
                                        }
                                    }
                                }
                                .card-body {
                                    padding: 0;
                                    .dropdown-menu {
                                        width: 100%;
                                        &__header {
                                            padding: 8px;
                                            font-weight: 500;
                                            font-size: 1.6rem;
                                        }
                                        &__body {
                                            .body {
                                                &__box {
                                                    display: grid;
                                                    grid-template-columns: repeat(3, 1fr);
                                                    &-item {
                                                        text-align: center;
                                                        padding: 8px;
                                                        border-top: 1px solid $linePrimary;
                                                        border-bottom: 1px solid $linePrimary;
                                                        p {
                                                            font-weight: 500;
                                                            font-size: 1.6rem;
                                                        }
                                                        span {
                                                            font-weight: 400;
                                                            font-size: 1.4rem;
                                                            color: $contentOrange;
                                                        }
                                                    }
                                                    &-item:not(:last-child) {
                                                        border-right: 1px solid $linePrimary;
                                                    }
                                                }
                                            }
                                        }
                                        &__footer {
                                            padding: 8px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: end;
                                            .modal {
                                                .modal-title {
                                                    font-size: 1.6rem;
                                                }
                                                .modal-body {
                                                    .form-control {
                                                        font-size: 1.6rem;
                                                    }
                                                }
                                            }
                                            .btn {
                                                box-shadow: none;
                                                font-size: 1.6rem;
                                            }

                                            i {
                                                font-size: 2rem;
                                                color: $contentOrange;
                                                margin-right: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                            &-price {
                                &__body {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    .body {
                                        &__left,
                                        &__right {
                                            list-style: none;
                                            display: flex;
                                            flex-direction: column;
                                            gap: 10px;

                                            font-size: 1.6rem;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .box__btn {
                        display: flex;
                        justify-content: space-between;
                        .btn {
                            padding: 1.4rem;
                            width: 160px;
                            font-size: 1.4rem;
                            border-radius: 200px;
                        }
                    }
                }
            }
        }
    }
}
