<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Bootstrap core CSS -->
    <link
      href="./../vendor/bootstrap-4.6.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="./../vendor/slick/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../vendor/slick/slick-theme.css"
    />

    <!-- jquery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-3.3.2.js"
    ></script>

    <link rel="stylesheet" href="./../css/app.css" />

    <!-- icon -->
    <link
      rel="stylesheet"
      href="./../vendor/font-awesome-4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="p-3">
      <div class="checkbox-custom-1">
        <label class="containerLabel">
          <input type="checkbox" name="" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div class="p-3">
      <div class="checkbox-custom-1">
        <label class="containerLabel">
          <span class="text">aass</span>

          <input type="checkbox" name="" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div class="p-3">
      <div class="ReviewForm">
        <div class="ReviewForm__label">Viết đánh giá</div>
        <div class="ReviewForm__rate d-flex align-items-center">
          <div class="ReviewForm__rate-text mr-sm-3">Đánh giá số sao:</div>
          <div class="ReviewForm__rate-list d-flex">
            <div class="icon">
              <svg
                width="24"
                height="22"
                viewBox="0 0 24 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z"
                  fill="#777777"
                />
              </svg>
            </div>

            <div class="icon">
              <svg
                width="24"
                height="22"
                viewBox="0 0 24 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z"
                  fill="#777777"
                />
              </svg>
            </div>
            <div class="icon">
              <svg
                width="24"
                height="22"
                viewBox="0 0 24 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z"
                  fill="#777777"
                />
              </svg>
            </div>
            <div class="icon">
              <svg
                width="24"
                height="22"
                viewBox="0 0 24 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z"
                  fill="#777777"
                />
              </svg>
            </div>
            <div class="icon">
              <svg
                width="24"
                height="22"
                viewBox="0 0 24 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z"
                  fill="#777777"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="ReviewForm__form">
          <form class="row">
            <div class="ReviewForm__form-textarea col-12">
              <textarea
                name=""
                id=""
                class="form-control"
                placeholder="Nhận xét"
                rows="5"
              ></textarea>
            </div>

            <div class="ReviewForm__form-input col-12 col-md-4">
              <input type="tex" class="form-control" placeholder="Họ tên *" />
            </div>
            <div class="ReviewForm__form-input col-12 col-md-4">
              <input
                type="tex"
                class="form-control"
                placeholder="Số điện thoại *"
              />
            </div>
            <div class="ReviewForm__form-input col-12 col-md-4">
              <input type="tex" class="form-control" placeholder="Email*" />
            </div>
            <div class="ReviewForm__form-checkbox col-12 col-md-12">
              <div class="checkbox-custom-1">
                <label class="containerLabel">
                  <span class="text">
                    Lưu thông tin của tôi trong trình duyệt này cho lần bình
                    luận kế tiếp của tôi.
                  </span>
                  <input type="checkbox" name="" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>

            <div class="ReviewForm__form-btn col-12 col-sm-4 col-md-4 col-lg-3">
              <button class="btn">Gửi đánh giá</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="./../vendor/bootstrap-4.6.1/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="./../vendor/slick/slick.min.js"
    ></script>

    <script src="./../js/main.js"></script>
  </body>
</html>
