<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Bootstrap core CSS -->
    <link
      href="./../vendor/bootstrap-4.6.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="./../vendor/slick/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../vendor/slick/slick-theme.css"
    />

    <!-- jquery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-3.3.2.js"
    ></script>

    <link rel="stylesheet" href="./../css/app.css" />

    <!-- icon -->
    <link
      rel="stylesheet"
      href="./../vendor/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../vendor/fontawesome-free-6.1.1-web/css/all.css"
    />
  </head>
  <body>
    <header class="HeaderCustom" id="HeaderCustom">
      <div class="HeaderCustom__box">
        <div class="HeaderCustom__box-global">
          <div class="global__nav container d-none d-md-flex">
            <ul class="nav__left">
              <li class="left__item active">
                <a href="">
                  <i class="fa fa-archive" aria-hidden="true"></i>
                  <span>POS</span>
                </a>
              </li>
              <li class="left__item">
                <a href="">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span>Bán Hàng</span>
                </a>
              </li>
              <li class="left__item">
                <a href="">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <span>Khách hàng</span>
                </a>
              </li>
              <li class="left__item">
                <a href="">
                  <i class="fa fa-id-card" aria-hidden="true"></i>
                  <span>Thu ngân</span>
                </a>
              </li>
              <li class="left__item">
                <a href="">
                  <i class="fa-solid fa-box"></i>
                  <span>Sản phẩm </span>
                </a>
              </li>
              <li class="left__item">
                <a href="">
                  <i class="fa-solid fa-gear"></i>
                  <span>Cài đặt</span>
                </a>
              </li>
            </ul>
            <ul class="nav__right">
              <li class="right__item">
                <a href="">
                  <i class="fa-solid fa-wifi"></i>
                </a>
              </li>
              <li class="right__item">
                <a href="">
                  <i class="fa-solid fa-arrows-rotate"></i>
                </a>
              </li>
              <li class="right__item">
                <a href="">
                  <img src="../images/avartar.jpg" alt="avatar  " />
                </a>
              </li>
            </ul>
          </div>
          <!--  nav mobie-->
          <div class="global__box container d-flex d-md-none">
            <div class="global__box-toggle">
              <label class="toggle__btn" for="toggleHeader">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21 5.25H3C2.59 5.25 2.25 4.91 2.25 4.5C2.25 4.09 2.59 3.75 3 3.75H21C21.41 3.75 21.75 4.09 21.75 4.5C21.75 4.91 21.41 5.25 21 5.25Z"
                    fill="#292D32"
                  />
                  <path
                    d="M21 10.25H3C2.59 10.25 2.25 9.91 2.25 9.5C2.25 9.09 2.59 8.75 3 8.75H21C21.41 8.75 21.75 9.09 21.75 9.5C21.75 9.91 21.41 10.25 21 10.25Z"
                    fill="#292D32"
                  />
                  <path
                    d="M21 15.25H3C2.59 15.25 2.25 14.91 2.25 14.5C2.25 14.09 2.59 13.75 3 13.75H21C21.41 13.75 21.75 14.09 21.75 14.5C21.75 14.91 21.41 15.25 21 15.25Z"
                    fill="#292D32"
                  />
                  <path
                    d="M21 20.25H3C2.59 20.25 2.25 19.91 2.25 19.5C2.25 19.09 2.59 18.75 3 18.75H21C21.41 18.75 21.75 19.09 21.75 19.5C21.75 19.91 21.41 20.25 21 20.25Z"
                    fill="#292D32"
                  />
                </svg>
              </label>
              <input
                type="checkbox"
                class="toggle__input d-none"
                name=""
                id="toggleHeader"
              />
              <div class="toggle__list">
                <label for="toggleHeader" class="list__btn-close">
                  <i class="fa fa-close"></i>
                </label>
                <div class="list__body">
                  <ul>
                    <li class="list__body-search">
                      <div class="link__search-form">
                        <form action="" class="form">
                          <div class="form__input">
                            <input
                              class="form-control"
                              type="text"
                              placeholder="Nhập tìm kiếm..."
                            />
                          </div>
                          <button class="form__icon btn">
                            <svg
                              width="20"
                              height="20"
                              viewBox="0 0 20 20"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M9.58342 18.125C4.87508 18.125 1.04175 14.2917 1.04175 9.58335C1.04175 4.87502 4.87508 1.04169 9.58342 1.04169C14.2917 1.04169 18.1251 4.87502 18.1251 9.58335C18.1251 14.2917 14.2917 18.125 9.58342 18.125ZM9.58342 2.29169C5.55841 2.29169 2.29175 5.56669 2.29175 9.58335C2.29175 13.6 5.55841 16.875 9.58342 16.875C13.6084 16.875 16.8751 13.6 16.8751 9.58335C16.8751 5.56669 13.6084 2.29169 9.58342 2.29169Z"
                                fill="#292D32"
                              />
                              <path
                                d="M18.3333 18.9583C18.175 18.9583 18.0166 18.9 17.8916 18.775L16.225 17.1083C15.9833 16.8667 15.9833 16.4667 16.225 16.225C16.4666 15.9833 16.8666 15.9833 17.1083 16.225L18.775 17.8917C19.0166 18.1333 19.0166 18.5333 18.775 18.775C18.65 18.9 18.4916 18.9583 18.3333 18.9583Z"
                                fill="#292D32"
                              />
                            </svg>
                          </button>
                        </form>
                      </div>
                    </li>
                    <li class="list__body-link active">
                      <a href="/" class="">Trang chủ</a>
                    </li>
                    <li class="list__body-link">
                      <a href="/" class="">Giới thiệu</a>
                    </li>
                    <li class="list__body-link">
                      <a href="/" class="">Sản phẩm</a>
                    </li>
                    <li class="list__body-link">
                      <a href="/" class="">Tin tức</a>
                    </li>
                    <li class="list__body-link">
                      <a href="/" class="">Đối tác</a>
                    </li>
                    <li class="list__body-link">
                      <a href="/" class="">Liên hệ</a>
                    </li>
                    <li class="list__body-link">
                      <a href="/" class="">Tuyển dụng</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </header>

    <section class="100vh" style="min-height: 100vh"></section>

    <script src="./../vendor/bootstrap-4.6.1/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="./../vendor/slick/slick.min.js"
    ></script>

    <script src="./../js/main.js"></script>
  </body>
</html>
