<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Bootstrap core CSS -->
    <link
      href="./../vendor/bootstrap-4.6.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="./../vendor/slick/slick.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../vendor/slick/slick-theme.css"
    />

    <!-- jquery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-3.3.2.js"
    ></script>

    <link rel="stylesheet" href="./../css/app.css" />

    <!-- icon -->
    <link
      rel="stylesheet"
      href="./../vendor/font-awesome-4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="subscribe">
      <div class="banner__box">
        <div class="BannerSlide2">
          <div class="BannerSlide2__bg">
            <img src="https://picsum.photos/1920/1000" alt="" />
          </div>

          <div class="BannerSlide2__body container">
            <div class="BannerSlide2__body">
              <div class="BannerSlide2__body-title">
                Netflix Ultr 4K bản quyền cùng rất nhiều nền tảng hấp dẫn khác
              </div>
              <div class="BannerSlide2__body-desc">
                Chúng tôi cung cấp duy nhất các tài khoản Netflix premium 4K,
                Full HD giá rẻ nhất thị trường, chính chủ ở Việt Nam. Giá chỉ từ
                55.000đ 1 tháng, giúp bạn tối ưu chi phí.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="subscribe__box">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="subscribe__box-main">
                <div class="subscribe__top">
                  <img
                    src="../images/netflixa.png"
                    alt=""
                    class="subscribe__top-img"
                  />
                  <span class="subscribe__top-package">GÓI 4K PREMIUM</span>
                  <span class="subscribe__top-price">50.000đ</span>
                  <p class="subscribe__top-desc">(bán chạy)</p>
                </div>
                <ul class="subscribe__list">
                  <li class="subscribe__list-item">
                    Có thể xem được trên Tivi, Laptop, Điện thoại, Tablet
                  </li>
                  <li class="subscribe__list-item">Chất lượng cao Ultra HD</li>
                  <li class="subscribe__list-item">Dùng 1 profile</li>
                  <li class="subscribe__list-item">
                    Chỉnh phụ đề lúc xem phim, không thay đổi thông tin TK
                  </li>
                  <li class="subscribe__list-item">Bảo hành 1 đổi 1</li>
                </ul>
                <a href="" class="subscribe__btn-link">Đăng kí</a>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="subscribe__box-main">
                <span class="subscribe__box-line-left"></span>

                <div class="subscribe__top">
                  <img
                    src="../images/netflixa.png"
                    alt=""
                    class="subscribe__top-img"
                  />
                  <span class="subscribe__top-package">GÓI 4K PREMIUM</span>
                  <span class="subscribe__top-price">50.000đ</span>
                  <p class="subscribe__top-desc">(bán chạy)</p>
                </div>
                <ul class="subscribe__list">
                  <li class="subscribe__list-item">
                    Có thể xem được trên Tivi, Laptop, Điện thoại, Tablet
                  </li>
                  <li class="subscribe__list-item">Chất lượng cao Ultra HD</li>
                  <li class="subscribe__list-item">Dùng 1 profile</li>
                  <li class="subscribe__list-item">
                    Chỉnh phụ đề lúc xem phim, không thay đổi thông tin TK
                  </li>
                  <li class="subscribe__list-item">Bảo hành 1 đổi 1</li>
                  <li class="subscribe__list-item">Có thể cài PIN profile</li>
                  <li class="subscribe__list-item">Có thể cài PIN profile</li>
                </ul>
                <a href="" class="subscribe__btn-link subscribe__btn-active"
                  >Đăng kí</a
                >
                <span class="subscribe__box-line-right"></span>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="subscribe__box-main">
                <div class="subscribe__top">
                  <img
                    src="../images/netflixa.png"
                    alt=""
                    class="subscribe__top-img"
                  />
                  <span class="subscribe__top-package">GÓI 4K PREMIUM</span>
                  <span class="subscribe__top-price">50.000đ</span>
                  <p class="subscribe__top-desc">(bán chạy)</p>
                </div>
                <ul class="subscribe__list">
                  <li class="subscribe__list-item">
                    Có thể xem được trên Tivi, Laptop, Điện thoại, Tablet
                  </li>
                  <li class="subscribe__list-item">Chất lượng cao Ultra HD</li>
                  <li class="subscribe__list-item">Dùng 1 profile</li>
                  <li class="subscribe__list-item">
                    Chỉnh phụ đề lúc xem phim, không thay đổi thông tin TK
                  </li>
                  <li class="subscribe__list-item">Bảo hành 1 đổi 1</li>
                </ul>
                <a href="" class="subscribe__btn-link">Đăng kí</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="./../vendor/bootstrap-4.6.1/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="./../vendor/slick/slick.min.js"
    ></script>
    <script></script>
    <script src="./../js/main.js"></script>
  </body>
</html>
