.Banner {
  position: relative;
  height: auto;
  min-height: 240px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/3064de240575716661f89438182a0af5.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  &__box {
    position: relative;

    width: auto;

    padding: 38px 64px 38px 64px;
    &-heading {
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      /* or 120% */
      color: $white-color;
      text-shadow: 2px 2px 0 rgba(185, 0, 0, 0.6);
      margin-bottom: 18px;
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      background: #da2127;
      border-radius: 200px;

      width: max-content;
      padding: 0 20px;
      a {
        color: $white-color;
        display: block;
        font-size: 20px;
        line-height: 28px;
        text-decoration: none;
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .Banner__box {
  }
}
